.recipe {
  max-width:600px;
  margin:40px auto;
  text-align:center;
  background:#fff;
  padding:40px;
}
.recipe h2 {
  font-size: 15px;
  margin-bottom: 6px;
}
.recipe .cook-time{
  color: #8e8e8e;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.recipe ul {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin:20px 0 40px;
}
.recipe li {
  color:#999;
  font-size: 12px;
}

.method {
  font-size:12px;
  line-height:1.5em;
  text-align:left;
  margin:20px 0;
}