.recipe {
  max-width:600px;
  margin:40px auto;
  text-align:center;
  background:#fff;
  padding:40px;
  box-sizing:border-box;
}
.recipe h2 {font-size: 18px;}

.recipe .cook-time{
  margin: 10px 0;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1.1px;
  color: #8e8e8e;
  text-transform: uppercase;
}
.recipe ul {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin:20px 0;
}
.recipe li {
  list-style-type:none;
  margin-right:10px;
  color:#999;
  font-size: 12px;
  line-height:1.5em;
}

.method {
  text-align:left;
  line-height:1.5em;
}