.create {
  max-width:600px;
  margin:40px auto;
  text-align:left;
  background:#fff;
  padding:40px;
}
.create h2 {
  margin:0 0 40px;
}
.create label span {
  display:block;
  font-size:12px;
  margin:10px 0;
}
.create h3, p {
  margin:10px 0 0;
}
input, textarea {
  font-family:sans-serif;
}

.create button{
  font-family: 'JetBrains Mono', monospace;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #485656;
  background:#fff;
  border:1px solid #485656;
  border-radius:4px;
  padding:8px;
  cursor:pointer;
  margin: 20px 0 0;
}
.create button:hover {
  color: white;
  background:#485656;
  border:1px solid #485656;
}



