.recipe-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:40px;
  max-width:1200px;
  margin:40px auto;
}
.recipe-list .card {
  background:#fff;
  color:#333;
  padding:20px;
  border-radius:4px;
  box-shadow:3px 3px 3px rgba(0, 0, 0, 0.05);
  transition:all 0.3s ease;
  position:relative;
}
.recipe-list .card:hover {
  transform: rotate(3deg);
}
.recipe-list .card h3{
 margin-bottom: 6px;
 font-size: 18px;
}
.recipe-list .card .cook-time{
  margin: 0;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1.1px;
  color: #8e8e8e;
  text-transform: uppercase;
}
.recipe-list .card p{
  margin:20px 0;
  font-size:14px;
}
.recipe-list .card a{
  margin: 0;
  font-size: 10px;
  line-height: 1.3;
  letter-spacing: 1.1px;
  color: #8e8e8e;
  text-transform: uppercase;
}
.recipe-list .card a:hover {color:#b4841e;}